<footer class="footer">
  <div class="container">
    <div class="row stats-panel">
      <div class="col-xs-4">
        <p class="small">audio</p>
        <p>{{ audio.percent }}%</p>
      </div>
      <div class="col-xs-4">
        <p class="small">video</p>
        <p>{{ video.percent }}%</p>
      </div>
      <div class="col-xs-4">
        <p class="small">photo</p>
        <p>{{ photo.percent }}%</p>
      </div>
    </div>
    <div class="row modals-panel">
      <div class="col-xs-4">
        <p (click)="openModal('upload')">
          <i fa [name]="'cloud-upload'"></i>
          <span>Upload Files</span>
        </p>
      </div>
      <div class="col-xs-4">
        <p (click)="openModal('share')">
          <i fa [name]="'share-alt'"></i>
          <span>Share Link</span>
        </p>
      </div>
      <div class="col-xs-4">
        <p (click)="openModal('backup')">
          <i fa [name]="'list'"></i>
          <span>View Files</span>
        </p>
      </div>
    </div>
  </div>
</footer>
